{% extends 'main.html' %}

{% block content %}
<h1>
    {{room.name}}
</h1>
<h5>
    {{room.decription}}
</h5>
<div class="commet-wrapper">
    <h3>Conversations</h3>

    {% for message in room_messages %}
    <div>
        <small>@ {{message.user}}  {{message.created|timesince}} ago</small>
        <p>{{message.body}}</p>
        <hr>
    </div>

    {% endfor %}

</div>

<div class="comment-form">
    <form method="POST" action="">
        {% csrf_token %}

        <input type="text" name="body" placeholder="enter your comment here">
        

    </form>
</div>


{% endblock content %}